body {
  background-color: #eaeded;
}

.App {
  text-align: center;
}

.App-main {
  display: flex;
  padding: 14px 18px 0 18px;
}

.CartItems {
  flex: 0.7;
  margin-right: 18px;
  text-align: left;
  padding: 20px;
  background-color: white;
}

.CartTotal {
  background-color: white;
  height: 200px;
  flex: 0.3;
}
